$primaryBackgroundColor: #e2eff1;
$primaryFontColor: #444;
$primaryRedColor: #e33b43;
$primaryLightRedColor: #f7cacc;
$primaryBlueColor: #15273f;
$primaryLightBlueColor: #1a304e;
$primaryGreenColor: #87bf7e;
$primaryLightGreenColor: #9acd32;
$container-maxWidth: 1170px;
