/*

// ==========================================================================
// Card Styles
// ==========================================================================

*/
.card {
  position: relative;
  margin: 0 auto 1rem auto;
  background-color: #fff;
  height: 400px;
  transition: all .2s ease-in-out;
  box-shadow: 0 14px 28px rgba(10, 10, 10, 0); }
  .card__title {
    display: inline-block;
    font-weight: 600;
    font-size: 1.3rem;
    padding: 1rem;
    text-transform: uppercase; }
  .card__content {
    margin: 0;
    padding: 0 1.2rem;
    font-size: 0.85rem; }
    @media (min-width: 768px) {
      .card__content {
        font-size: 1rem; } }
    .card__content a {
      position: absolute;
      bottom: 10px; }
  .card__image {
    line-height: 150px;
    width: 100%;
    height: 150px;
    text-align: center;
    transform: scale(1.1);
    background-size: cover;
    transition: all .2s ease;
    overflow: hidden; }
    .card__image__container {
      width: 100%;
      height: 150px;
      overflow: hidden; }
    .card__image:hover {
      transform: scale(1); }
  .card__overlay {
    opacity: 0;
    background: rgba(255, 255, 255, 0.6);
    transition: all .2s linear; }
    .card__overlay:hover {
      opacity: 1; }
  .card hr {
    border: 0;
    padding: 0;
    margin: 0;
    opacity: 0.6;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }
  .card:hover {
    box-shadow: 0 14px 28px #0a0a0a, 0 10px 10px rgba(10, 10, 10, 0.22);
    transition: all .2s ease-in-out; }
  .card__blog {
    background-image: url("../../assets/images/blog__card__bg.png");
    height: 500px;
    padding: 18px;
    max-width: 48%; }
    @media (min-width: 1025px) {
      .card__blog__content {
        line-height: 1.7em;
        font-size: 1.1em; } }
    .card__blog__date {
      font-size: 0.9em;
      font-weight: bold;
      padding-top: 10px;
      color: #d91122;
      text-align: left; }
      @media (min-width: 768px) {
        .card__blog__date {
          padding: 10px 0 10px 0;
          font-size: 1.2em; } }
      @media (min-width: 1025px) {
        .card__blog__date {
          font-size: 1.4em; } }
    .card__blog__image {
      float: left;
      width: 150px;
      height: 150px;
      margin: 10px;
      border-radius: 50%;
      border: 3px solid #fff;
      overflow: hidden; }
      @media (min-width: 768px) {
        .card__blog__image {
          width: 140px;
          height: 140px;
          margin: 10px; } }
      @media (min-width: 1025px) {
        .card__blog__image {
          width: 240px;
          height: 240px;
          margin: 10px; } }
    .card__blog__title {
      font-size: 1.3em;
      font-weight: bold;
      text-transform: uppercase;
      color: #222;
      text-align: left; }
      @media (min-width: 768px) {
        .card__blog__title {
          font-size: 1.2em; } }
      @media (min-width: 1025px) {
        .card__blog__title {
          padding-top: 2px;
          font-size: 1.6em; } }
