/*

// ==========================================================================
// Blog Styles
// ==========================================================================

*/
.blog__container {
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px; }
  @media (min-width: 1025px) {
    .blog__container {
      flex-direction: row;
      padding: initial; } }
