@import '../../components/Global/Variables.scss';
@import '../../components/Global/Mixins.scss';

/*

// ==========================================================================
// Header Styles
// ==========================================================================

*/

.header {
    top: 0;
 	background-color: $primaryRedColor;
 	height: 80px;
 	width: 100%;
	color: #fff;
	z-index: 3;

	@include tablet {
		position: fixed;
    }

    &__container {
        display: flex;
        margin: 0 auto;
        height: inherit;
        max-width: 100%;

        @include tablet {
            max-width: 1170px;
        }
    }

    &__logo {
        height: 80px;
 		background-color: $primaryRedColor;
 		font-size: 2.2rem;
 		font-family: 'Pacifico', cursive;
 		padding-top: 20px;
 		padding-left: 10px;
 		line-height: 1.2em; // change this

 		@include tablet {
 			padding-top: 4px;
 			padding-left: 15px; 
 			font-size: 3.45rem;
 			letter-spacing: -0.0099em; // change this 
 		}

 		@include desktop {
 			padding-left: 0;
        }
    }
}