@import '../../components/Global/Variables.scss';
@import '../../components/Global/Mixins.scss';

/*

// ==========================================================================
// Header Styles
// ==========================================================================

*/

.header {
	position: fixed;
    top: 0;
 	background-color: $primaryRedColor;
 	height: 80px;
 	width: 100%;
	color: #fff;
	z-index: 3;

    &__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
        margin: 0 auto;
        height: inherit;
        max-width: 100%;

        @include tablet {
            max-width: 1170px;
        }
    }

    &__logo {
		background-image: url('../../assets/images/logo.png');
		background-size: contain;
		background-repeat: no-repeat;
		width: 349px;
		height: 76px;
    }
}