/*

// ==========================================================================
// Header Styles
// ==========================================================================

*/
.header {
  position: fixed;
  top: 0;
  background-color: #e33b43;
  height: 80px;
  width: 100%;
  color: #fff;
  z-index: 3; }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: inherit;
    max-width: 100%; }
    @media (min-width: 790px) {
      .header__container {
        max-width: 1170px; } }
  .header__logo {
    background-image: url("../../assets/images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 349px;
    height: 76px; }
